*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

article {
    text-align: center;
    margin: 10px;
    background-color: rgb(153, 153, 180);
    border-radius: 5%;
    padding: 10px;
}

article img {
    width: 150px;
    height: 200px;
    border-radius: 5%;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
